<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>AttendSejong(츨석하세종) is an open source project.</p>
      </div>
      <div class="col-lg-4">
        <p>AttendSejong(출석하세종) is a mobile application designed to enhance the Jiphyeon campus(e-campus) experience by providing students 
          with timely notifications for online classes and assignments. Our primary goal is to empower students to seamlessly navigate their 
          online classes by delivering real-time attendance tracking and assignment management alerts, ensuring they never miss a class or a submission deadline </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/DStrio/attend-sejong-app" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Visit GitHub 
        </a>
      </div>
    </div>
  </div>
</section>
