<!-- About Section -->
<section class="success" id="about">
  <head>
     <style>
    a {
      color: #165363; 
      text-decoration: none;
    }
    a:hover {
      color: #000000; 
    }
  </style>
  </head>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Community</h2>
        <hr class="star-light">
      </div>
    </div>
    <div>
      <p>
        AttendSejong is an open source project has inspired an enthusiastic and active community of users and contributors.
        We continue to be committed to fostering an open, welcoming, diverse, inclusive, and healthy community.
      </p>
      
      <br>
      <br>
      
      <h2>Code of Conduct</h2>
      <p>
        AttendSejong has adopted the <a href="https://github.com/redis/redis/blob/unstable/CODE_OF_CONDUCT.md">Contributor Covenant Code of Conduct</a>.
      </p>
      
      <br>
      <br>

      <h2>Getting help</h2>
      <h3>Discord server</h3>
      <p>
        On the <a href="https://discord.gg/SHD5gAdtZN">AttendSejong Discord server</a> , you can chat or call with members of the Redis community in real time. You'll meet Redis users, contributors, and developer advocates. 
        This is a great place to stop in for quick questions or to share your latest Redis discoveries.
      </p>
      <h3>Maling list</h3>
      <p>
        Join the<a href="https://groups.google.com/g/attendsejong">AttendSejong mailing list</a> to discuss the ongoing development of AttendSejong and to find out about new AttendSejong releases.
      </p>

      <br>
      <br>
      
      <h2>Contributing to AttendSejong</h2>
      <p>
        There are many ways to contribute to Redis, starting with documentation all the way to changes to the open source AttendSejong server. 
        Here are a few ways you can get involved.
      </p>
      <h3>Contributing to docs</h3>
      <p>
        The <a href="https://github.com/DStrio/attend-sejong-app/tree/main/docs">AttendSejong docs</a> are open source, and we'd love to incorporate your contributions.
      </p>
      <h3>Reporting bugs</h3>
      <p>
        To report a bug in SejongAttend, create a <a href="https://github.com/DStrio/attend-sejong-app/issues">AttendSejong issue </a>
      </p>
      <h3>Client libraries</h3>
      <p>
        The AttendSejong client libraries are nearly always open source and accepting of contributions. Consult the contribution guidelines for the library you're interested in.
      </p>
    </div>
  </div>
</section>
