<!-- About Section -->
<section class="success" id="community">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Community</h2>
        <hr class="star-light">
      </div>
    </div>

    <h1>Community</h1>
    <p>
      AttendSejong is an open source project has inspired an enthusiastic and active community of users and contributors.
      We continue to be committed to fostering an open, welcoming, diverse, inclusive, and healthy community.
    </p>
        
    <h2>Code of Conduct</h2>
    <p>
      "AttendSejong has adopted the "
      <a href="https://github.com/redis/redis/blob/unstable/CODE_OF_CONDUCT.md">Contributor Covenant Code of Conduct</a>
      "."
    </p>
      
  </div>
</section>
